@import "./../../styles/commonStyle/commonStyle.scss";

.container-root {
  @media (min-width: 992px) {
    max-width: 1440px !important;
  }
}

.banner {
  position: relative;
  margin-bottom: 30px;

  @media (max-width: 767px) {
    display: block !important;
    margin-top: 6px;
  }

  .prod-title {
    margin: 0 auto 27px;
    font-size: $font60;
    line-height: 60px;
    font-weight: 900;
    font-family: $theme-font !important;

    &.mobile {
      display: none;
    }

    @media (max-width: $mobile-max-width) {
      font-size: 28px;
      line-height: 32px;
      margin-bottom: 22px;

      &.mobile {
        display: block;
      }

      &.desktop {
        display: none;
      }
    }
  }

  .product-details {
    padding-left: 82px;

    @media (max-width: 991px) {
      padding: 0;
    }

    .topTag {
      text-decoration: underline;
      color: $black;
      font-size: $font16;
      line-height: 22px;
      margin-bottom: 10px;
      text-transform: capitalize;
    }

    .price-cont {
      font-family: $theme-font !important;
      margin-bottom: 27px;

      .product-price {
        font-size: 28px;
        line-height: 30px;
        font-weight: 800;
        margin-bottom: 20px;
      }
    }

    .preorder {
      border-radius: 13px;
      background-color: #e52828;
      color: white;
      padding: 14px 26px 19px;
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 19px;
      font-weight: bold;
      margin-right: 70px;
      font-family: $theme-font !important;
      @media (max-width: 767px) {
        margin-right: 0;
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 38px;
        padding: 16px 21px 18px;
      }
    }
  }
}

.servings-info {
  margin: 30px 117px;

  .product-acc-root {
    box-shadow: none;
    border-bottom: 1px solid;
    border-radius: 0 !important;
    border-color: #707070 !important;

    h2 {
      font-size: $font28;
      line-height: 32px;
      font-weight: bold;
      margin: 0;
      font-family: $theme-font !important;

      @media (max-width: 767px) {
        font-size: 18px;
        line-height: 12px;
      }
    }

    .ingHeading {
      margin-bottom: 22px;
      text-decoration: underline;
      margin-top: 16px;
      cursor: pointer;
    }

    .product-acc-container {
      display: flex;
      flex-direction: column;
    }

    .product-acc-content {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 17px;
      color: #333;
      font-family: $theme-font !important;

      img {
        width: 100%;
      }

      .acc-button {
        background-color: #e52828;
        width: 332px;
        color: $white;
        text-transform: uppercase;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 0;
        font-weight: 900;
        padding-top: 13px;
        padding-bottom: 13px;
        text-align: center;
        border-radius: 0;
      }

      @media (max-width: 767px) {
        font-size: 16px;
        line-height: 22px;
        padding: 0 0 10px;

        .acc-button {
          width: 100%;
        }
      }
    }

    > div:first-child {
      padding: 0;
    }
  }

  div[role*="region"] {
    > div:first-child {
      padding: 0;
    }
  }

  @media (max-width: 767px) {
    margin: 0 0 30px 0;
  }
}

.product-size-list {
  margin-top: 41px;
  margin-bottom: 33px;

  .item-label {
    font-size: 18px;
    font-weight: bold;
    line-height: 12px;
    margin-bottom: 14px;

    span {
      float: right;
      margin-right: 70px;
      cursor: pointer;
      text-decoration: underline;
    }

    @media (max-width: 767px) {
      span {
        margin-right: 0;
      }
    }
  }

  a,
  button {
    border: 1px solid #595959;
    border-radius: 24px;
    padding: 13px 32px;
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    color: $black;
    text-decoration: none;
    margin-right: 12px;
    margin-bottom: 20px;
    font-family: $theme-font !important;
    vertical-align: unset !important;

    &:last-child {
      margin-right: 0;
    }

    &.active {
      background: #127CBD 0% 0% no-repeat padding-box;
      border: 1px solid #127CBD;
      color: $white;
      text-transform: none;
    }

    &.disabled {
      color: $black;
      background-color: #d8d8d8;
      border: 1px solid #d8d8d8;
    }

    @media (max-width: 767px) {
      font-size: $font16;
      line-height: 21px;
      padding: 13px 19px;
    }
  }

  button {
    margin-bottom: 0;
  }

  @media (max-width: 767px) {
    .size-container {
      display: flex;
      overflow-x: scroll;

      a,
      button {
        flex-shrink: 0;
        display: inline-flex;
        padding: 14px 30px;
      }

      button {
        height: 50px;
      }
    }
  }
}

.recently-viewed {
  margin-bottom: 80px;

  @media (max-width: 767px) {
    margin-bottom: 40px;
  }
}

.promotions {
  margin-bottom: 60px;
}

@media (min-width: 768px) and (max-width: 1340px) {
  .banner {
    .prod-title {
      font-size: 48px;
      line-height: 48px;
    }

    .product-details {
      .topTag {
        font-size: 14px;
        line-height: 14px;
      }

      .product-price {
        font-size: 20px;
        line-height: 20px;
      }

      .rating-review {
        .review-count {
          font-size: 14px;
        }
      }
    }
  }

  .product-size-list {
    a,
    button {
      padding: 13px 18px;
      font-size: 16px;
      line-height: 21px;
      margin-right: 6px;
    }
  }
}
