@import "./../../../../styles/commonStyle/commonStyle.scss";

.modal-tr-forgot-container{
  border-radius: 0 !important;
  background: url(/www/images/popup-bg-new.jpg) no-repeat;
  padding: 25px 0 20px 0;
  background-position: 0px 20px;
  background-size: cover;
  box-shadow: 0 3px 6px rgba(0,0,0,.160784);

  @media (max-width: 767px) {
    height: auto;
    padding: 25px 5px 30px 5px;
  }
  @media (max-width: 505px) {
    width: 100%;
    padding: 0px;
    background-position: 0px 50px;
    max-width: calc(100% - 32px) !important;
  }
  @media(max-width:380px){
    background-size: 120%;
    background-position: 0px 90px;
  }
  &:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: url("/www/images/tr-forgot-left.png");
    height: 200px;
    width: 215px !important;
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: contain;
    @media (max-width: 1024px) {
      width: 280px;
    }
    @media (max-width: 767px) {
     display: none;
    }
  }
  &:before{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    background-image: url("/www/images/tr-forgot-right.png");
    height: 200px;
    width: 254px;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: contain;
    @media (max-width: 767px) {
      display: none;
     }
  }
  .forgot-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 329px;
    margin: 0 61px 44px;
    img{
      width: 104px;
      height: 79px;
    }
    @media (max-width: 767px){
      width: 100%;
      margin: 10px auto;
    }

    .forgot-title{
      text-align: center;
      letter-spacing: 0px;
      color: #007CBD;
      font-size: 22px;
      line-height: 33px;
      font-weight: 600;
      text-transform: none !important;
      margin-bottom: 90px;
      margin-top: 10px;
      @media(max-width: 420px){
        margin-bottom: 50px;
      }
    }
    .forgot-text{
      text-align: left;
      font-size: 14px;
      line-height: 18px;
      font-weight: medium;
      letter-spacing: 0.08px;
      color: #FFFFFF;
    }
    .btn-wrap{
      margin-top: 20px;
      display: flex;
      justify-content: center;
      width: 100%;
      .submit-btn{
        margin-left: 0px !important;
        background-color: #db1d2c !important;
        border-color: #db1d2c !important;
        padding: 10px 30px;
        border-radius: 3px;
        color: white !important;
        text-align: center;
        transition: all 0.2s;
        font-weight: bold;
        cursor: pointer;
        outline: none !important;
        font-size: 16px;
        width:100%;
        min-height: 40px;
      }
    }
    .desc{
      color: white;
      align-self: center;
      button{
        text-decoration-line: underline;
        color:white;
        text-transform: unset;
      }
    }
    .signIn {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 15px;
      text-align: center;
      font-size: 14px;
      line-height: 21px;
      font-weight: normal;
      letter-spacing: 0.08px;
      color: #FFFFFF;
      @media(max-width:400px){
        margin-top: 0px;
      }
      button{
        margin:0px
      }
    }
    .signUp {
      margin-top: 12px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      font-size: 14px;
      line-height: 21px;
      font-weight: normal;
      letter-spacing: 0.08px;
      @media(max-width:400px){
        margin-top: 0px;
      }
    }
  }
}