@import "./../../../../styles/commonStyle/commonStyle.scss";

.modal-tr-changepassword-container{
  border-radius: 0 !important;
  background: url(/www/images/popup-bg-new.jpg) no-repeat;
  padding: 25px 0 20px 0;
  background-size: cover;
  box-shadow: 0 3px 6px rgba(0,0,0,.160784);

  @media (max-width: 767px) {
    height: auto;
    padding: 25px 5px 30px 5px;
  }
  @media (max-width: 505px) {
    width: 100%;
    padding: 0px;
    background-position: 0px 50px;
    max-width: calc(100% - 32px) !important;
  }
  @media(max-width:380px){
    background-size: 120%;
    background-position: 0px 90px;
  }
  &:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: url("/www/images/tr-forgot-left.png");
    height: 200px;
    width: 145px !important;
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: contain;
    @media (max-width: 1024px) {
      width: 280px;
    }
    @media (max-width: 767px) {
     display: none;
    }
  }
  &:before{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    background-image: url("/www/images/tr-forgot-right.png");
    height: 200px;
    width: 200px;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: contain;
    @media (max-width: 767px) {
      display: none;
     }
  }
  .custom-form{
    .form-label{
      font-size: 14px !important;
    }

    input {
      height: 13px;
    }
  }
  .form-card-container > div {
    padding: 5px !important;
  }
  .forgot-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 329px;
    margin: 5px 61px 44px;
    img{
      width: 104px;
      height: 79px;
    }
    @media (max-width: 767px){
      width: 100%;
      margin: 10px auto;
    }

    .forgot-title{
      text-align: center;
      letter-spacing: 0px;
      color: #007CBD;
      font-size: 22px;
      line-height: 33px;
      font-weight: 600;
      text-transform: none !important;
      margin-bottom: 60px;
      margin-top: 10px;
      @media(max-width: 420px){
        margin-bottom: 50px;
      }
    }
    .forgot-text{
      text-align: left;
      font-size: 14px;
      line-height: 18px;
      font-weight: 600;
      letter-spacing: 0.08px;
      color: #FFFFFF;
    }
    .pwd-requirements {
      color: white;
      padding-left: 10px;
      text-align: left;

      ul {
        padding: 0;

        li {
          margin-left: 20px;
        }
        
        li:first-child {
            margin-left: 0;
            list-style: none;
          }
      }
    }
    .btn-wrap{
      margin-top: 20px;
      display: flex;
      justify-content: center;
      width: 100%;
      .submit-btn{
        margin-left: 0px !important;
        background-color: #db1d2c !important;
        border-color: #db1d2c !important;
        padding: 10px 30px;
        border-radius: 3px;
        color: white !important;
        text-align: center;
        transition: all 0.2s;
        font-weight: bold;
        cursor: pointer;
        outline: none !important;
        font-size: 16px;
        width:100%;
        min-height: 40px;
      }
    }
    .desc{
      color: white;
      align-self: center;
      button{
        text-decoration-line: underline;
        color:white;
        text-transform: unset;
      }
    }
    .signIn {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 15px;
      text-align: center;
      font-size: 14px;
      line-height: 21px;
      font-weight: normal;
      letter-spacing: 0.08px;
      color: #FFFFFF;
      @media(max-width:400px){
        margin-top: 0px;
      }
      button{
        margin:0px
      }
    }
    .signUp {
      margin-top: 12px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      font-size: 14px;
      line-height: 21px;
      font-weight: normal;
      letter-spacing: 0.08px;
      @media(max-width:400px){
        margin-top: 0px;
      }
    }
  }
}

.button-group-ch {
  display: flex;
  justify-content: center !important;
  flex-flow: inherit !important;
  margin-top: 15px;
  
  .btn-secondary {
    margin-left: 10px;
  }

  @media (max-width: 767px) {
   flex-wrap: wrap;
   margin-top: 15px !important;
  }
  .btn-primary{
    @include standardLinkNewReverse($red-db, $white);
    padding: 7px 17px;
    font-size: $font16;
    border-color: $red-db;
    &:hover{
      background: $white;
      border-color: $theme-blue;
      color: $theme-blue;
    }
    &[disabled] {
      background-color: $white;
      color: #666;
      &:hover,
      &:focus {
        background-color: $white;
        color: #666;
      }
    }
  }

  .mui-btn {
    width: 100%;
    font-size: 15px;
    min-width: 0;
    padding: 10px 12px;
  }
}

.social-note {
  color: $white;
  font-size: 13px;
  padding-top: 10px !important;
  font-weight: 500;
  text-align: center;
  @media (max-width: 767px) {
    font-size: 12px;
  }
}