@import "./../../../src/styles/commonStyle/commonStyle.scss";

.myop-container {
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  margin-top: 72px;
  display: flex;
  align-items: center;
  width: 100%;
  height: 675px;
  border-radius: 30px;
  position: relative;
  
  .left {
    // display: flex;
    // flex-direction: column;
    padding: 0 55px 0 58px;
    .main_contant {
      font-size: 70px;
      font-family: $theme-font !important;
      font-weight: 900;
      line-height: 70px;
      margin: 0px;
      margin-bottom: 20px;
      @media (max-width: 991px) {
        margin-bottom: 19px;
        font-size: 40px;
        line-height: 40px;
      }
      @media (max-width: 500px) {
        font-size: 36px;
        line-height: 36px;
        margin-bottom: 13px;
      }
    }

    .text_contant {
      font-size: 18px;
      font-family: $theme-font !important;
      line-height: 24px;
      margin: 0px;
      margin-bottom: 20px;
      @media (max-width: 991px) {
        font-size: 15px;
        line-height: 20px;
      }
      @media (max-width: 500px) {
        font-size: 16px;
        line-height: 22px;
      }
    }

    .Btn {
      background-color: $black;
      color: $white;
      padding: 13px 0;
      font-weight: 900;
      font-size: 18px;
      font-family: $theme-font !important;
      border: none;
      text-decoration: none;
      text-align: center;
      width: 170px;
      display: block;
      @media (max-width: 991px) {
        font-size: 14px;
        width: 118px;
      }

      @media (max-width: 767px) {
        margin: 0 auto;
      }
    }

    @media (min-width: 992px) and (max-width: 1160px) {
      padding: 0 45px;

      .main_contant {
        font-size: 60px;
        line-height: 60px;
      }
    }

    @media (max-width: 767px) {
      padding: 0 30px;
    }

    @media (max-width: 500px) {
      padding: 0;
    }
  }

  @media (max-width: 991px) {
    margin-top: 24px;
    height: 388px;
  }

  @media (max-width: 500px) {
    background-position: bottom;
    text-align: center;
    height: 600px;
    & > div {
      position: absolute;
      top: 20px;
      left: 0;
      padding: 0 50px;
    }
    .left {
      max-width: 100% !important;
      flex-basis: 100% !important;
      justify-content: center;
      align-items: center;
    }
  }

  @media (max-width: 320px) {
    & > div {
      padding: 0 30px;
    }
  }
}
