@import "./../../styles/commonStyle/commonStyle.scss";
div{
	&.cod-container {
		&-root {
			padding-bottom: 125px;
			max-width: 1440px;
			background-image: url("/www/images/callOfDuty/fire-bg.jpg");
			background-size: cover;
			@media (max-width: 767px) {
				padding-bottom: 55px;
			}
			.rules {
				&-section	{
					background: #000 !important;
					box-shadow: 0px 0px 8px #00000043;
					border-radius: 28px 28px 14px;
					padding: 105px 54px 120px 80px;
					margin-top: 100px !important;
					position: relative;
					@media (max-width: 1024px) {
						padding: 105px 75px 120px 75px;
					}
					@media (max-width: 991px) {
						padding: 105px 25px 60px 25px;
					}
					@media (max-width: 767px) {
						padding-top: 65px;
						margin-top: 40px !important;
					}
					.cod-title{
						color: #fff;
						text-align: center;
						font-size: 26px !important;
						font-weight: bold;
						margin-bottom: 60px;
						padding-right: 50px;
						@media (max-width: 1024px) {
							padding-right: 0;
							font-size: 19px !important;
						}
						@media (max-width: 767px) {
							font-size: 20px !important;
							margin-bottom: 35px;
						}
					}
					.doritos-logo {
						position: absolute;
						top: -94px;
						left: 50%;
						transform: translateX(-50%);
						max-width: 170px;
						@media (max-width: 767px) {
							max-width: 100px;
							top: -55px;
						}
					}
				}
				&-list {
					.rule-single {
						display: flex;
						padding-bottom: 30px;
						font-size: 23px !important;
						font-weight: 900;
						@media (max-width: 767px) {
							padding-bottom: 15px;
						}
						&-text {
							color: #FFFFFF;
							line-height: 1.5;
							padding-left: 35px;
							display: inline-block;
							@media (max-width: 767px) {
								font-size: 18px !important;
								padding-left: 15px;
							}
							@media (max-width: 1024px) {
								font-size: 19px !important;
							}
						}
						&-icon {
							width: 67px;
							height: 67px;
							@media (max-width: 767px) {
								width: 30px;
								height: 30px;
								margin-top: 5px;
							}
						}
					}
				}
				&-description {
					letter-spacing: 0.11px;
					font-size: 18px;
					line-height: 28px;
					color: $white;
					margin-top: 20px;
					position: relative;
					height: 615px;
					overflow-y: auto;
					overflow-x: hidden;
					
					@media (max-width: 767px) {
						padding-right: 0;
						font-size: $font14;
						line-height: unset;
						display: flex;
						flex-wrap: wrap;
						justify-content: flex-end;
					}
					img {
						position: absolute;
						bottom: -120px;
    					right: -50px;
						max-width: 300px;
						@media (max-width: 767px) {
							position: unset;
							max-width: 150px;
							margin-top: 10px;
						}
					}
					&-heading {
						text-align: center;
						color: #FFFFFF;
						font-size: 24px;
						font-weight: bold;
						letter-spacing: 0.14px;
						margin-top: 60px;
						@media (max-width: 1024px) {
							font-size: 22px !important;
						}
						@media (max-width: 767px) {
							font-size: 20px !important;
						}
					}
					@media (max-width: 1024px) {
						font-size: 16px !important;
					}
					@media (max-width: 767px) {
						font-size: 13px !important;
					}
				}
			}
		}
		&-inner {
			@media (max-width: 991px) {
				padding-left: 0 !important;
				padding-right: 0 !important;
			}
			.cod-back-btn {
				cursor: pointer;
				margin-top: 15px;
			}
		}
	}
}
.ps__rail-y {
	background: #646464 !important;
	opacity: 1 !important;
	width: 10px !important;
	display: block !important;
	border-radius: 6px !important;
	height: 615px;
  }
  .ps__thumb-y {
	width: 9px !important;
	background: #E2E2E2 !important;
	right: 0 !important;
	min-height: 30px;
  }
  .oc-scrollbar-container {
	padding-right: 15px;
  }